ul li.done{
    color: #555;
    text-decoration: line-through;
}

ul li span{
    height: 30px;
    width: 30px;
    position: absolute;
    right: 550px;
    font-size: 25px;
    border-radius: 50%;
    text-align: center;
    color: black;
}
span:hover{
    background-color: #989898;
}